这个项目叫做 Chatbox，是一个强大的 AI 聊天客户端，支持多种 AI 模型。

本仓库是 Chatbox 的客户端代码，包括了桌面端（Electron）和移动端（Capacitor）。

这个项目是一个国际化的项目，默认语言是英文，但也支持多种国家语言。因此在编写代码时，请考虑国际化因素，应用文案默认请使用地道的英文。

只有在与我对话时才使用中文。

### 国际化

应用文案默认请使用地道的英文，像一个美国人一样思考。

当生成应用文案的不同国家语言的 i18n 翻译时，请务必考虑文案的本地化，不要直接翻译，而是要根据不同国家的文化习惯和语言习惯进行翻译。一定要确保翻译的文案是地道的，不要直接翻译。

### 项目结构
src/main 是 Electron 的主进程代码，执行环境是 Node.js
src/renderer 是 Electron 的渲染进程代码，执行环境是浏览器
