*.cab filter=lfs diff=lfs merge=lfs -text
src-tauri/Microsoft.WebView2.FixedVersionRuntime.109.0.1518.78.x64/*.dll filter=lfs diff=lfs merge=lfs -text
src-tauri/Microsoft.WebView2.FixedVersionRuntime.109.0.1518.78.x64/* filter=lfs diff=lfs merge=lfs -text
src-tauri/Microsoft.WebView2.FixedVersionRuntime.109.0.1518.78.x64/*.pak filter=lfs diff=lfs merge=lfs -text
src-tauri/Microsoft.WebView2.FixedVersionRuntime.109.0.1518.78.x64/** filter=lfs diff=lfs merge=lfs -text
