# 文件上传与发布
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
GITHUB_TOKEN=
GH_TOKEN=

# Apple 证书。会自动用本地 keychain 中的，所以不需要设置
# CSC_LINK=
# CSC_KEY_PASSWORD=

# Window 证书暂时没有
# WIN_CSC_LINK=
# WIN_CSC_KEY_PASSWORD=

# Apple 公证
APPLE_ID=
APPLE_ID_PASS=
APPLE_APP_SPECIFIC_PASSWORD=
APPLE_TEAM_ID=
